.border-input {
    border-color: gray;
}

.textarea-input {
    border-color: gray;
    resize: none;
    height: 5rem;
}

.textarea-input-large {
    border-color: gray;
    resize: none;
    height: 7rem;
}